<div class="well">
  <form name="newPlaylist" class="form-horizontal" ng-submit= "playlistSubmit()">
    <fieldset>
      <legend>New Playlist</legend>
      <div class="form-group">
        <label class="col-xs-2 control-label">Name</label>
        <div class="col-xs-10">
          <input class="form-control" type="text" ng-model = "playlistName" ng-maxlength="16" ng-required='required'>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-10 col-xs-offset-2">
          <button type="submit" class="btn btn-success">Create Playlist</button>
        </div>
      </div>
    </fieldset>
  </form>
</div> 