<div class="well">
  <form name="newPlaylist" class="form-horizontal" ng-submit= "playlistSubmit()">
    <fieldset>
      <legend>New Playlist</legend>
      <div class="form-group">
        <label class="col-xs-2 control-label">Name</label>
        <div class="col-xs-10">
          <input class="form-control" type="text" ng-model ="playlistName" ng-maxlength="16" required>
 		  <div class="alert alert-warning" ng-show="newPlaylist.$invalid && newPlaylist.$dirty">Please enter a name between 1 and 16 characters</div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-10 col-xs-offset-2">
          <button type="submit" class="btn btn-success" ng-disabled ="newPlaylist.$invalid">Create Playlist</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>  